include LICENSE
include NOTICE
include README.rst

recursive-include icclim *.yml
recursive-include doc *.rst *.yml conf.py Makefile make.bat *.jpg *.png *.gif

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
