cf_xarray>=0.7.4
cftime
dask[array]
dateparser
distributed
fsspec
jinja2
netCDF4~=1.5.7
numpy
pandas>=1.3
pint<0.20
psutil
pytest
rechunker>=0.3.3
setuptools
sphinx_codeautolink
sphinx_copybutton
sphinx_lfs_content
xarray>=2022.6
xclim>=0.45
zarr
